.block-container{
    padding-top:2rem;
    padding-bottom:2rem;
}

div[data-testid="metric-container"]{

    border-radius:18px;

    padding:18px;

    background:#ffffff;

    box-shadow:0 4px 12px rgba(0,0,0,.08);

}

div[data-testid="metric-container"]:hover{

    transform:translateY(-4px);

    transition:.3s;

}

.stButton>button{

    width:100%;

    border-radius:12px;

    font-weight:600;

}